:root {
  /* Solid Colors */
  --color-primary-1: #a2d686;
  --color-primary-2: #779a64;
  --color-primary-3: #506d40;

  --color-light-1: #f8fcff;
  --color-light-2: #fffff6;
  --color-light-3: #efedd2;

  /* Gradient Colors */
  --color-primary-gradient: linear-gradient(45deg, #4f6c40, #89b573);
  --color-background-gradient-down: linear-gradient(
    to bottom,
    #f8fcff,
    #fafeffd6 63%,
    #d9d9d900 0%
  );

  --color-background-gradient-up: linear-gradient(
    to top,
    #313c2fc9,
    #656d6485 52%,
    #c9c9c900 0%
  );

  /* Typography */
  font-size: 100%;
  --font-family: "Assistant", sans-serif;

  /* Shapes and Borders */
  --border-radius: 0.75rem;
}

@font-face {
  font-family: "Assistant";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("../fonts/Assistant-Regular.woff2") format("woff2"),
    url("../fonts/Assistant-Regular.woff") format("woff"),
    url("../fonts/Assistant-Regular.eot") format("eot");
}

@font-face {
  font-family: "Assistant";
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  src: url("../fonts/Assistant-SemiBold.woff2") format("woff2"),
    url("../fonts/Assistant-SemiBold.woff") format("woff"),
    url("../fonts/Assistant-SemiBold.eot") format("eot");
}

@font-face {
  font-family: "Assistant";
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  src: url("../fonts/Assistant-ExtraBold.woff2") format("woff2"),
    url("../fonts/Assistant-ExtraBold.woff") format("woff"),
    url("../fonts/Assistant-ExtraBold.eot") format("eot");
}
