:root {
  /* Solid Colors */
  --color-primary-1: #a2d686;
  --color-primary-2: #779a64;
  --color-primary-3: #506d40;

  --color-light-1: #f8fcff;
  --color-light-2: #fffff6;
  --color-light-3: #efedd2;

  /* Gradient Colors */
  --color-primary-gradient: linear-gradient(to left, #4f6c40, #89b573);
  --color-background-gradient-down: linear-gradient(
    to bottom,
    #f8fcff,
    #fafeffd6 63%,
    #d9d9d900 100%
  );

  --color-background-gradient-up: linear-gradient(
    to top,
    #313c2fc9 8%,
    #656d6485 30%,
    #c9c9c900 55%
  );

  /* Typography */
  font-size: 100%;
  --font-family: "Assistant", sans-serif;

  /* Shapes and Borders */
  --border-radius: 0.75rem;
}

@font-face {
  font-family: "Assistant";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("../fonts/Assistant-Regular.woff2") format("woff2"),
    url("../fonts/Assistant-Regular.woff") format("woff"),
    url("../fonts/Assistant-Regular.eot") format("eot");
}

@font-face {
  font-family: "Assistant";
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  src: url("../fonts/Assistant-SemiBold.woff2") format("woff2"),
    url("../fonts/Assistant-SemiBold.woff") format("woff"),
    url("../fonts/Assistant-SemiBold.eot") format("eot");
}

@font-face {
  font-family: "Assistant";
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  src: url("../fonts/Assistant-ExtraBold.woff2") format("woff2"),
    url("../fonts/Assistant-ExtraBold.woff") format("woff"),
    url("../fonts/Assistant-ExtraBold.eot") format("eot");
}

/* ========== */
/* Components */
/* ========== */

.btn {
  display: inline-block;
  padding: 1rem 3rem;

  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.btn-icon {
  width: 1em;
  display: inline-block;

  margin-left: 0.25em;
  vertical-align: -0.15em;
}

.btn-primary {
  font-size: 1.5rem;
  font-weight: 800;

  color: var(--color-light-1);

  background-image: var(--color-primary-gradient);
  border-radius: var(--border-radius);
  border: none;

  box-shadow: 0 0 3rem var(--color-primary-2);
}

/* ====== */
/* Global */
/* ====== */

body {
  font-family: var(--font-family);
}

h1 {
  font-size: 8rem;
  text-align: center;
}

/* ============ */
/* Hero Section */
/* ============ */

.hero {
  height: 100svh;

  background-image: var(--color-background-gradient-down),
    url("../images/hero-main-desktop.avif");

  background-size: cover;
  background-position: center;
}

.hero-layer-group {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

.hero-layer--heading {
  position: absolute;
  top: 15%;
  left: 50%;

  transform: translateX(-50%);
}

.hero-layer--background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: var(--color-background-gradient-up),
    url("../images/hero-main-cut-desktop.webp");

  background-size: cover;
  background-position: center;

  pointer-events: none;
}
